# Hello, if you're from the internal Discord, 
# just make a .env file in the root of the project and copy the contents of this file into it, 
# then fill in the values as needed (from the hook channels). If you have any questions, ask in the Discord.

CONTACT_PAGE_HOOK=""
APPLY_PAGE_HOOK=""
