@import 'tailwindcss';
@import './markdown.css';

/* cabinet grotesk */
@font-face {
    font-family: 'Cabinet Grotesk';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Variable.eot') format('embedded-opentype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* static weights as fallbacks */
@font-face {
    font-family: 'Cabinet Grotesk Fallback';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Thin.eot') format('embedded-opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk Fallback';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.eot') format('embedded-opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk Fallback';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk Fallback';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk Fallback';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk Fallback';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk Fallback';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.eot') format('embedded-opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabinet Grotesk Fallback';
    src:
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff2') format('woff2'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff') format('woff'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.ttf') format('truetype'),
        url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.eot') format('embedded-opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Red Hat Monospace';
    src: url('/fonts/RedHatDisplay/RedHatMono-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
    font-style: monospace;
    font-weight: 300 700;
}

@theme {
    /* Colors */
    --color-accent: #f36647;
    --color-offaccent: #ff7657;
    --color-black: #222222;
    --color-white: #fff8f7;
    --color-offwhite: #f8e8e5;
    --color-warning: #f0c92d;
    --color-error: #f02d31;

    /* Typography */
    --font-sans: 'Cabinet Grotesk', "Cabinet Grotesk Fallback", sans-serif;
    --font-display: 'Cabinet Grotesk', "Cabinet Grotesk Fallback", sans-serif;
    --font-monospace: 'Red Hat Monospace', monospace;

    /* Responsiveness */
    --breakpoint-3xl: 2100px; /* Wide screen */
}
/* General styles */
@layer base {
    p {
        font-weight: 450;
    }
    html {
        background-color: var(--color-offwhite);
        color: var(--color-black);
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
    }

    main {
        display: flex;
        flex-direction: column;
        min-height: 75vh;
    }

    a {
        transition: all 100ms ease-in-out;
    }

    article {
        padding: 1rem;
        @media (min-width: 1024px) {
            padding: 2.5rem;
        }
    }

    ::selection {
        background: var(--color-offaccent);
        color: var(--color-white);
        text-shadow: none;
    }

    ::-moz-selection {
        background: var(--color-offaccent);
        color: var(--color-white);
    }
}

/* hi, john here. this is here because font-display needs to be bolded. thats all */
@utility font-display {
    font-weight: bold;
}

@utility font-book { /* for use with paragraphs; Regular seems too thin for body text */
    font-weight: 450;
}

@utility debug {
    outline: 1px solid red;
}

@utility leading-oneline {
    line-height: .8em;
}

@utility cardshadow-large {
    box-shadow:
        0 -2px 32px 0 rgb(0 0 0 / 16%),
        0 8px 32px 0 rgb(243 101 70 / 32%);
}

/* fix for firefox because thanks firefox */
/*.unicorn-embed canvas {
    /*border-radius: 32px;*/
/*}*/
